/* ===== RALEWAY ===== */
@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
}
  
@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/fonts/Raleway/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/fonts/Raleway/Raleway-Thin.ttf') format('truetype');
    font-weight: 200;
}

/* ===== LATO ===== */
  
@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
}
  
@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: 200;
}
