.section-title{
    @apply xs:text-3xl sm:text-3xl lg:text-4xl xl:text-5xl font-semibold font-raleway text-start
}

.section-text{
    text-wrap: balance;
    @apply xs:text-lg sm:text-lg lg:text-xl xl:text-2xl font-normal font-lato
}

.section-container{
    @apply xl:w-[80%] mx-auto xs:w-full sm:w-full h-full;
}

.swiper {
    width: 100%;
    height: 60%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #EBEBEB;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}
  
.modal-content {
    position: fixed;
    background: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 48px;
    animation: slideIn .5s;
    overflow: hidden;
}

@keyframes slideIn {
    from {
      transform: translate(-50%, -60%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes slideOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25%{
    transform: translate(-50%, -50%) scale(1.05);
  }
  50%{
    transform: translate(-50%, -50%) scale(1.10);
  }
  75%{
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
