.section-title{
    @apply xs:text-3xl sm:text-3xl lg:text-4xl xl:text-5xl font-semibold font-raleway
}

.section-text{
    @apply xs:text-lg sm:text-lg lg:text-xl xl:text-2xl font-normal font-lato
}

.section-container{
    @apply xl:w-[80%] mx-auto xs:w-full sm:w-full h-full;
}

.swiper {
    width: 100%;
    height: 60%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #EBEBEB;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
  